<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card mt-4">
            <div class="form-group">
                <input type="text" [(ngModel)]="title" class="form-control">
            </div>
            <textarea 
                rows="5" 
                [(ngModel)]="content"> </textarea>
            <hr>
            <div class="pl-3 pb-3">
                <button 
                    (click)="onPostCreated()"
                    class="btn btn-primary">Save Post</button>
            </div>
        </div>
    </div>
</div>