textarea {
    width: 80%;
    display: block;
    margin: auto;
    border: 1px solid transparent;
    border-bottom: 4px solid #ccc;
}

textarea:focus {
    border-bottom: 4px solid rgb(46, 144, 144);
    outline: none;
}

input.ng-invalid.ng-touched {
    border: 2px solid firebrick;
}

textarea.ng-invalid.ng-touched {
    border-bottom: 2px solid firebrick;
}